nav{
    background-color: rgb(10, 62, 152);
    margin-top: -16px;
    margin-left:-16px;
    margin-right:-16px;
    list-style-type:none;
}
.hot-line1 {
    color:aliceblue;
    text-decoration: none;
    margin-left:100px;
    display: inline-flex;
    padding: 5px 0;
}  
.hot-line2 {
    color:aliceblue;
    text-decoration: none;
    margin-left:30px;
    display: inline-flex;
    padding: 5px 0;
}  
.address {
    color:aliceblue;
    text-decoration: none;
    margin-left:500px;
    display: inline-flex;
    padding: 5px 0;
}  

nav ul li{
    display:inline-block;
    height:35px;
}   
i{
    margin-right: 5px;
}




header img{
    padding-left: 120px;
}

  .search-container {
    width: 50%;
    display: flex;
    align-items: center; /* Canh giữa khung tìm kiếm và ảnh */
  }
  
  .image {
    width: 200px; /* Điều chỉnh kích thước ảnh */
    height: 60px;
    margin-right: 20px; /* Điều chỉnh khoảng cách giữa ảnh và khung tìm kiếm */
  }

  form {
    display: flex;
    flex: 1; /* Khung tìm kiếm sẽ mở rộng để lấp đầy không gian còn lại */
  }

  input {
    flex: 1; /* Khung nhập liệu sẽ mở rộng để lấp đầy không gian còn lại */
    margin-right: 10px; /* Điều chỉnh khoảng cách giữa khung nhập liệu và nút tìm kiếm */
  }
  input[type="text"] {
    padding: 6px; /* Điều chỉnh khoảng cách giữa nội dung và viền khung */
    border-radius: 20px; /* Điều chỉnh đường cong góc của khung nhập liệu */
  }
 .search{
    margin-left: -45px;
    padding:6px;
 }