nav{
    background-color: rgb(10, 62, 152);
    margin-top: -16px;
    margin-left:-16px;
    margin-right:-16px;
    list-style-type:none;
}
.hot-line1 {
    color:aliceblue;
    text-decoration: none;
    margin-left:100px;
    display: inline-flex;
    padding: 5px 0;
}  
.hot-line2 {
    color:aliceblue;
    text-decoration: none;
    margin-left:30px;
    display: inline-flex;
    padding: 5px 0;
}  
.address {
    color:aliceblue;
    text-decoration: none;
    margin-left:500px;
    display: inline-flex;
    padding: 5px 0;
}  

.nav-background{
    display:inline-block;
    height:35px;
}   
.material-icons{
    margin-right: 5px;
    font-size: 18px;
}




  .search-container {
    width: 110%;
    display: flex;
    align-items: center; /* Canh giữa khung tìm kiếm và ảnh */
  }
  
  .image {
    width: 200px; /* Điều chỉnh kích thước ảnh */
    height: 60px;
    margin-right: 20px; /* Điều chỉnh khoảng cách giữa ảnh và khung tìm kiếm */
    padding-left: 120px;
  }

  form {
    display: flex;
    flex: 1; /* Khung tìm kiếm sẽ mở rộng để lấp đầy không gian còn lại */
  }

  .text-search {
    margin-top:10px;
    flex: 1; /* Khung nhập liệu sẽ mở rộng để lấp đầy không gian còn lại */
  }
  .text-search[type="text"] {
    border: 1px solid rgb(97, 97, 98);
    height:20px;
    padding: 6px; /* Điều chỉnh khoảng cách giữa nội dung và viền khung */
    border-radius: 20px; /* Điều chỉnh đường cong góc của khung nhập liệu */
  }
 .search-icon{
    margin-left: -47px;
    padding:19px;
 }
 .text-cart{
  font-size: 15px;
  text-decoration: none;
  margin-left: 150px;
  color:rgb(97, 97, 98);
 }
 .cart{
  border: 1px solid rgb(97, 97, 98);
  width:115px;
  height:20px;
  padding: 6px; /* Điều chỉnh khoảng cách giữa nội dung và viền khung */
  border-radius: 5px; /* Điều chỉnh đường cong góc của khung nhập liệu */
 }